/********* Fonts **********/

@import url('https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps');

/****** Main Styling ******/
header *, body * {
  font-family: 'Raleway';
}

a, a:hover, a:visited {
  text-decoration: none;
}

input:focus::-webkit-input-placeholder {
    color: transparent !important;
}

input:focus::-moz-placeholder {
    color: transparent !important;
}
input:focus:-moz-placeholder {
    color: transparent !important;
}

/****** Header Styling ******/
.navbar-brand {
  font: 1.5em "Oleo Script Swash Caps";
}

/****** Login Styling ******/


/****** Logo Div Styling ******/


/****** Click Styling ******/


/****** Profile Styling ******/


/****** OAuth Button Styling ******/
.bookster-text {
  font: 5em "Oleo Script Swash Caps";
  cursor: default;
}

.oauth-btn {
  border: 2px solid;
  border-radius: 5px;
  padding: 10px 8px;
}

.oauth-btn:hover {
}

.business-img {
  max-width: 100%;
}

.going-btn {
  /*height: 100%;*/
}

/*.first-color {
  color: #2ECC71;
}*/

/*#s-i, #s-b {
  box-shadow: 0px 1px 5px 0px #7d7d7d;
}*/

.bus-container {
  border-color: #2ECC71 !important;
}

.selected {
  color: red !important;
}
