		<div class="container-fluid px-5 py-5">
			<div class="row mx-1 my-1 mx-2 my-2 mx-mid-5 my-mid-5">
				<div class="hidden-xs hidden-sm col-md-5"></div>
				<div class="col-12 col-sm-6 col-md-2">
					<a href="/auth/twitter">
						<div class="text-center oauth-btn" id="twitter-login-btn">
							<!-- <img src="/public/img/twitter_32px.png" alt="twitter logo" /> -->
							Twitter
						</div>
					</a>
				</div>
				<div class="hidden-xs hidden-sm col-md-5"></div>
			</div>

    </div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script type="text/javascript" src="controllers/userController.client.js"></script>
		<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
