		<div class="container-fluid px-5 py-5">
			<form id="p-f">
			  <div class="form-group">
			    <label for="formGroupDisplayName">Display Name</label>
			    <input type="text" class="form-control" id="d-n-i" placeholder="Display name">
			  </div>
				<div class="form-group">
			    <label for="formGroupName">Name</label>
			    <input type="text" class="form-control" id="n-i" placeholder="Name">
			  </div>
			  <div class="form-group">
			    <label for="formGroupLocation">Location</label>
			    <input type="text" class="form-control" id="l-i" placeholder="Location">
			  </div>
				<button type="button" class="btn btn-primary float-right" onclick="submitData()">Submit</button>
				<a href="/" role="button" class="btn btn-danger mr-1 float-right">Cancel</a>
			</form>
    </div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script type="text/javascript" src="controllers/userController.client.js"></script>
		<script type="text/javascript" src="controllers/profileController.client.js"></script>
		<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
		<script type="text/javascript" src="controllers/gridController.client.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
